**Most Popular Pickups Taxi Zones**



```
SELECT
    taxi_zone.Location_ID,
    taxi_zone.Borough,
    taxi_zone.Zone,
    COUNT(*) AS PickupCount
FROM
    jan_june2015 AS uber
JOIN
    taxi_zone ON uber.location_ID_ = taxi_zone.Location_ID
GROUP BY
    taxi_zone.Location_ID,
    taxi_zone.Borough,
    taxi_zone.Zone
ORDER BY
    PickupCount DESC;
```

**Month with Max Pickups**



```
SELECT
    MONTHNAME(STR_TO_DATE(Pickup_Date, '%c/%d/%Y %k:%i')) AS Month,
    COUNT(*) AS PickupCount
FROM
    jan_june2015
GROUP BY
    Month
ORDER BY
    PickupCount DESC;
```

Number of Trips Per Day



```
SELECT
    DATE(STR_TO_DATE(Pickup_date, '%c/%d/%Y %k:%i:%s')) AS Day,
    COUNT(*) AS TripsPerDay
FROM
  jan_june2015
GROUP BY
    Day
ORDER BY
    Day;
```

**Base number that is most effective -  In metrics of trips**



```
SELECT
    Affiliated_Base_Num,
    COUNT(*) AS Trips
FROM
    jan_june2015
GROUP BY
    Affiliated_Base_Num
ORDER BY
    Trips DESC;
```